

/*Header*/

.site-header{

    background-image: url(../img/fondo-header.jpg)
    /*background-position: center center;*/
    height: 100vh;
    /*min-height:60rem;*/
    /*background-size:cover;*/
    /*width: 300px;*/
    /*min-height: 200px;*/
}

.icon{
    height: 50px

}